// settings.scss
// _ before filename because this is a partial CSS stylesheet

// Colours
$ocean-blue: #2F4AE7;
$light-violet: #D7B5E9;
$white-violet: #F2ECF5;
$burnt-brown: #6B4F0A;
$violet: #B24EE7;
$aqua-blue: #50DBE7;
$aqua-green: #5CE7B5;
$wheat-gold: #F4D32D;
$color-mixture: fade-out($violet, .95);
$color-flour: $wheat-gold;
$color-liquid: $aqua-blue;
$color-hydration: $aqua-green;
$color-dough: fade-out($burnt-brown, .3);
$color-salt: $ocean-blue;
$color-weight: fade-out($violet, .3);
$color-button: fade-out($ocean-blue, .3);
$color-button-text: $white-violet;

// Spacing
$size-xs: 0.8rem;
$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;
$desktop-breakpoint: 28rem;
$tiny-breakpoint: 22rem;

// Fonts
$font-size-l: 1.8rem;
$font-size-s: 1.4rem;